.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  border-radius: 0 0 5px 5px;
  margin: 2px;
  padding: 5px 0;
  background: rgba(100, 149, 237, 0.1);

  .task {
    display: flex;
    align-items: center;
    width: 85%;

    input {
      margin-right: 10px;
    }

    p {
      overflow-wrap: anywhere;
    }

    .decoration {
      text-decoration: line-through;
    }

    .displayNone {
      display: none;
    }

    .inputText {
      width: 95%;
      padding: 5px;
      font-size: 1rem;
      margin: 9px 0;
    }
  }

  .iconsBox {
    img {
      width: 25px;
      cursor: pointer;
    }

    .displayNone {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .box {
    .task {
      width: 80%;
    }
  }
}