.inputBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  border-bottom: 1px solid #d3d3d35c;
  padding-bottom: 20px;
  margin-bottom: 10px;

  input {
    font-size: 1rem;
    padding: 8px;
    width: 75%;
  }

  button {
    border: none;
    font-size: 1rem;
    padding: 10px;
    color: white;
    background: cornflowerblue;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    width: 20%;
  }
}

@media (max-width: 992px) {
  .inputBlock {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .inputBlock {
    width: 90%;
  }
}