.inputBlock {
  display: flex;
  align-items: center;

  input {
    font-size: 1rem;
    padding: 4px;
  }

  button {
    border: none;
    font-size: 1rem;
    padding: 6px;
    color: white;
    background: black;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
  }
}